# Ignorar ficheiros ao utilizar o comando COPY . .

# ... ficheiros do Git
.git
.gitignore

# ... ficheiros "Docker"
.dockerignore
Dockerfile

# ... chave privada SSH
devKey.ppk

# ... entry point
docker-entrypoint.sh

# ... SSH authorized keys 
authorized_keys

# Permitir explicitamente para COPY direto
!docker-entrypoint.sh
!authorized_keys