<form [formGroup]="filterForm" class="flex items-center gap-2">
  <h3>{{ title }}</h3>
  <div class="flex flex-col gap-3">
    @for (field of fields; track field.key) {
      <p-select
        [options]="field.options"
        optionLabel="label"
        optionValue="value"
        [placeholder]="`Selecionar ${field.label}`"
        [formControlName]="field.key"
        [editable]="field.extraOptions?.editable ?? false"
        [showClear]="field.extraOptions?.showClear ?? false"
      />
    }
  </div>
  <div class="flex gap-2">
    <p-button
      label="Pesquisar"
      icon="pi pi-search"
      (onClick)="handleSearch()">
    </p-button>

    <p-button
      label="Limpar"
      severity="secondary"
      (onClick)="handleClear()">
    </p-button>
  </div>
</form>
